@import url("../style/style_gen.css");

.sec-1 {
    background: linear-gradient(0deg, rgba(66, 129, 149, 0.10) 0%, rgba(66, 129, 149, 0.10) 100%), url("../Asset/workplace.jpg"), lightgray 50% / cover no-repeat;
    background-size: cover;
    width: 100dvw;
    background-color: var(--title);
    min-height: 100dvh;
}

.sec-1g {
    width: 50dvw;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 6dvw;
    gap: 0.5rem;
}

.recherche {
    max-width: 30dvw;
}

.a-propos {
    height: 7dvh;
    width: 10dvw;
    margin-top: 2rem;
}

.sec-2 {
    background: var(--gradiant-black);
    background-size: cover;
    width: 100dvw;
    background-color: var(--title);
    min-height: 100dvh;
    display: flex;
    flex-direction: row;
}

.sec-2g {
    width: 50dvw;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.border-pic {
    width: 60%;
    height: 60%;
    background-color: var(--main-blue);
}

.sec-2d {
    width: 50dvw;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sec-2da {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
}

.propos-desc {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.cv {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 7dvh;
    width: 10dvw;
    margin-top: 2rem;
}

.sec-3 {
    background-color: var(--desktopComp);
    background-size: cover;
    width: 100dvw;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-zone {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 18dvw;
    aspect-ratio: 1/1;
    border-radius: 15px;
    background: #404040;
    box-shadow: 6px 10px 6px 2px rgba(14, 14, 14, 0.25);
    z-index: 3;
}

.div-icon {
    aspect-ratio: 1/1;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.div-icon img {
    width: 3dvw;
    aspect-ratio: 1/1;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}
