:root {
    --title : #F0F0F0;
    --txt : #CECECE;
    --main-blue : rgb(61, 128, 149);
    --desktopComp : #323232;
    --footer : #393939;
    --gradiant-black : linear-gradient(66deg, #1E1E1E 13.45%, #2F2F2F 78.23%);
    --gradiant-blue : linear-gradient(93deg, #3D8095 0.03%, #3F5E88 100.03%);
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    background: linear-gradient(66deg, #1E1E1E 13.45%, #2F2F2F 78.23%);
    min-height: 100dvh;
    width: 100dvw;
    overflow-x: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0;
    overflow-y: scroll;
}

.txt-intro {
    font-size: 3rem;
    color: var(--title);
    font-family: "Inter", sans-serif;
    font-weight: bold;
}
.txt-title {
    font-size: 2rem;
    color: var(--txt);
    font-family: "Inter", sans-serif;
    font-weight: bold;
}

.txt-real {
    font-size: 4rem;
    color: var(--title);
    font-family: "Inter", sans-serif;
    font-weight: bold;
}

.txt-subtitle {
    font-size: 1.25rem;
    color: var(--txt);
    font-family: "Inter", sans-serif;
    font-weight: 300;
}

.txt {
    color: var(--txt);
    font-family: "Inter", sans-serif;
    font-size: medium;
}

.txt-category {
    font-size: 1rem;
    color: var(--title);
    font-family: "Inter", sans-serif;
}

.txt-contact-style {
    font-size: 1rem;
    color: var(--title);
    font-family: "Inter", sans-serif;
    font-weight: 500;
}

.selected {
    color: var(--main-blue);
    font-size: 1rem;
    font-weight: bold;
}

.selected-category {
    font-weight: bold;
    color: var(--title);
}

.txt-category-real {
    font-family: "Inter", sans-serif;
    color: var(--txt);
    font-weight: medium;
}

.txt-category-real:hover {
    cursor: pointer;
}

.txt-Portfolio {
    font-size: 1.3rem;
    color: var(--main-blue);
    font-family: "Inter", sans-serif;
    font-weight: bold;
}

.logiciel-link {
    color: var(--txt);
    font-family: "Inter", sans-serif;
    font-style: italic;
    font-size: small;
}

.name {
    color: var(--txt);
    font-family: "Inter", sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
}

.txt-btn {
    color: var(--title);
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    font-weight: 200;
    padding: 1rem;
    text-align: center;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: var(--gradiant-blue);
}

.header {
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 8dvh;
    z-index: 4; 
    background: var(--gradiant-black);
}

.header-left {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 3%;
}

.header-left a{
    height: 60%;
}

.header-left a img{
    height: 100%;
}

.header-right {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    gap: 1.5rem;
    padding-right: 2%;
}

.line {
    background-color: var(--main-blue);
    width: 2dvw;
    height: 0.3dvh;
}

.title-line {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-bottom: 3rem;
}

.pic-spe {
    width: 6dvw;
    aspect-ratio: 1/1;
}

.spe-title {
    color: var(--title);
    font-family: "Inter", sans-serif;
    font-size: medium;
    font-weight: 600;
    margin: 1rem;
}

.link-proj {
    color: var(--txt);

}

.link-proj:hover{
    color: var(--main-blue);
    text-decoration: underline;
}

.footer {
    position: relative;
    width: 100dvw;
    height: 50dvh;
    background: var(--footer);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contacts {
    color: var(--title);
    font-family: "Inter", sans-serif;
    font-weight: 100;
    font-size: 2rem;
}

.contact-logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 7dvw;
    margin: 10dvh;
}

.contact-logo img {
    width: 2dvw;
    aspect-ratio: 1/1;
    transition: transform 0.3s ease;
}

.logo-link {
    position: relative;
    display: inline-block;
}

.contact-txt {
    position: absolute;
    text-align: center;
    opacity: 0;
    bottom: 1.2dvh;
    transition: opacity 0.3s ease;
    pointer-events: none;
    white-space: nowrap;
}

.logo-link:hover .contact-txt {
    opacity: 1;
}

.logo-link:hover img {
    transform: translateX(-2.5dvw);  
}

.droits {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.txt-droits {
    color: var(--txt);
    font-family: "Inter", sans-serif;
    font-size: small;
    font-weight: 200;
}

.name-footer {
    font-weight: bold;
    font-style: italic;
}

.circuit-footer {
    position: absolute;
    width: 25dvw;
    bottom: 0;
    right: 0;
    opacity: 0.5;
}

.btn-more {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    width: 2dvw;
    aspect-ratio: 1/1;
    background: var(--gradiant-blue);
    margin-top: 2dvh;
}

.btn-more img{
    width: 1dvw;
    aspect-ratio: 1/1;
}