

<div class="project-unit G">
    <div class="pic-project">
        <a href="../Asset/project/pince.png" target="_blank">
            <img src="../Asset/project/pince.png" alt="">
        </a>
    </div>
    <div class="project-prez">
        <div class="project-title">
            <p class="txt-title project-name">Pince</p>
            <div class="under-line"></div>
        </div>
        <div class="project-desc pince">
            <p class="txt">Pince réaliser dans le cadre des robolympiades.<br><br>
            </p>
            <div class="btn-more">
                <img src="../Asset/plus.png" alt="">
            </div>
        </div>
        <div class="project-detail pince">
            <div class="first-line">
                <div class="software">
                    <img class="pic-project-prez" src="../Asset/software.png" alt="">
                    <p class="txt">Fusion360</p>
                </div>
            </div>
            <div class="features">
                <img class="pic-project-prez" src="../Asset/feature.png" alt="">
                <p class="txt">
                    <span>Forme adapté à la récupération de palets,</span>
                    <span>Emplacement pour axe (principe d'ascenseur pour élever la pince),</span>
                    <span>Mouvement engendré par une crémaillère,</span>
                    <span>Support pour servomoteur MG995.</span>
                </p>
            </div>
            <div class="team">
                <img class="pic-project-prez" src="../Asset/user.png" alt="">
                <p class="txt">Individuel</p>
            </div>
            <div class="link-zone pince">
                <p class="logiciel-link">
                    <span>lien du projet : </span>
                    <span>
                        <a class="link-proj" href="https://a360.co/3SMYQs4"
                            target="_blank">https://a360.co/3SMYQs4</a>
                    </span>
                </p>
            </div>
        </div>
    </div>
</div>


<div class="project-unit D">
    <div class="project-prez">
        <div class="project-title project-title-D">
            <p class="txt-title project-name">BB8</p>
            <div class="under-line"></div>
        </div>

        <div class="project-desc project-desc-D bb8">
            <p class="txt">Prototype de sphère roulante inspiré de BB8.<br><br>
            </p>
            <div class="btn-more">
                <img src="../Asset/plus.png" alt="">
            </div>
        </div>
        <div class="project-detail project-detail-D bb8">
            <div class="first-line">
                <div class="software">
                    <img class="pic-project-prez" src="../Asset/software.png" alt="">
                    <p class="txt">Fusion360</p>
                </div>
            </div>
            <div class="features">
                <img class="pic-project-prez" src="../Asset/feature.png" alt="">
                <p class="txt">
                    <span>Support moteur DC,</span>
                    <span>Emplacement batterie.</span>
                </p>
            </div>
            <div class="team">
                <img class="pic-project-prez" src="../Asset/user.png" alt="">
                <p class="txt">Individuel</p>
            </div>
            <div class="link-zone bb8">
                <p class="logiciel-link">
                    <span>lien du projet : </span>
                    <span>
                        <a class="link-proj" href="https://a360.co/41TTT4w"
                            target="_blank">https://a360.co/41TTT4w</a>
                    </span>
                </p>
            </div>
        </div>
    </div>
    <div class="pic-project">
        <a href="../Asset/project/BB8.png" target="_blank">
            <img src="../Asset/project/BB8.png" alt="">
        </a>
    </div>
</div>
</div>





<div class="project-unit G">
<div class="pic-project">
    <a href="../Asset/project/hub.png" target="_blank">
        <img src="../Asset/project/hub.png" alt="">
    </a>
</div>
<div class="project-prez">
    <div class="project-title">
        <p class="txt-title project-name">Hub domotique</p>
        <div class="under-line"></div>
    </div>
    <div class="project-desc hub">
        <p class="txt">Boitier de hub domotique réalisé dans le cadre du domolabo (réalisation complète d'un système domotique).<br><br>
        </p>
        <div class="btn-more">
            <img src="../Asset/plus.png" alt="">
        </div>
    </div>
    <div class="project-detail hub">
        <div class="first-line">
            <div class="software">
                <img class="pic-project-prez" src="../Asset/software.png" alt="">
                <p class="txt">Fusion360</p>
            </div>
        </div>
        <div class="features">
            <img class="pic-project-prez" src="../Asset/feature.png" alt="">
            <p class="txt">
                <span>Emplacement pour raspberry Pi 3 (modèle B)</span>
                <span>Emplacement pour LED (rétroéclairage),</span>
                <span>Emplacement pour passage du câble d'alimentation.</span>
                <span>Emplacement pour haut-parleur,</span>
                <span>Système de fermeture par rotation de la coque,</span>
                <span>Logo imprimable indépendamment (personnalisation).</span>
            </p>
        </div>
        <div class="team">
            <img class="pic-project-prez" src="../Asset/user.png" alt="">
            <p class="txt">Individuel</p>
        </div>
        <div class="link-zone hub">
            <p class="logiciel-link">
                <span>lien du projet : </span>
                <span>
                    <a class="link-proj" href="https://a360.co/48swrxa"
                        target="_blank">https://a360.co/48swrxa</a>
                </span>
            </p>
        </div>
    </div>
</div>
</div>


<div class="project-unit D">
<div class="project-prez">
    <div class="project-title project-title-D">
        <p class="txt-title project-name">Ventilateur miniature</p>
        <div class="under-line"></div>
    </div>

    <div class="project-desc project-desc-D ventilo">
        <p class="txt">Prototype de ventilateur portable miniature réalisé dans le cadre du domolabo (réalisation complète d'un système domotique).<br><br>
        </p>
        <div class="btn-more">
            <img src="../Asset/plus.png" alt="">
        </div>
    </div>
    <div class="project-detail project-detail-D ventilo">
        <div class="first-line">
            <div class="software">
                <img class="pic-project-prez" src="../Asset/software.png" alt="">
                <p class="txt">Fusion360</p>
            </div>
        </div>
        <div class="features">
            <img class="pic-project-prez" src="../Asset/feature.png" alt="">
            <p class="txt">
                <span>Support moteur DC,</span>
                <span>Emplacement interrupteur,</span>
                <span>Emplacement écrou (M4) pour fermeture par boulon.</span>
            </p>
        </div>
        <div class="team">
            <img class="pic-project-prez" src="../Asset/user.png" alt="">
            <p class="txt">Individuel</p>
        </div>
        <div class="link-zone ventilo">
            <p class="logiciel-link">
                <span>lien du projet : </span>
                <span>
                    <a class="link-proj" href="https://a360.co/48wpXNU"
                        target="_blank">https://a360.co/48wpXNU</a>
                </span>
            </p>
        </div>
    </div>
</div>
<div class="pic-project">
    <a href="../Asset/project/ventilo_close.png" target="_blank">
        <img src="../Asset/project/ventilo_close.png" alt="">
    </a>
</div>
</div>
</div>
<script type="module" src="../js/kjhj.js"></script>