

<div class="project-unit G">
    <div class="pic-project">
        <a href="/Asset/project/esp323D.png" target="_blank">
            <img src="/Asset/project/esp323D.png" alt="">
        </a>
    </div>
    <div class="project-prez">
        <div class="project-title">
            <p class="txt-title project-name">Module ESP32</p>
            <div class="under-line"></div>
        </div>

        <div class="project-desc moduleESP">
            <p class="txt">Conception sur mesure d'un module ESP32.</p>
            <div class="btn-more">
                <img src="/Asset/plus.png" alt="">
            </div>
        </div>
        <div class="project-detail moduleESP">
            <div class="features">
                <img class="pic-project-prez" src="/Asset/feature.png" alt="">
                <p class="txt">
                    <span>Microcontrôleur : ESP32-WROOM-32U,</span>
                    <span>Puce de mémoire flash NOR : Winbond W25Q128JVSIM,</span>
                    <span>Interface USB vers UART : FTDI FT232RQ,</span>
                    <span>Connecteur Micro-USB 2.0 type B : Molex 105017-0001.</span>
                </p>
            </div>
            <div class="third-line">
                <div class="software">
                    <img class="pic-project-prez" src="/Asset/software.png" alt="">
                    <p class="txt">Circuit Maker / Altium Designer</p>
                </div>
                <div class="team">
                    <img class="pic-project-prez" src="/Asset/user.png" alt="">
                    <p class="txt">Individuel</p>
                </div>
            </div>
            <div class="link-zone moduleESP">
                <p class="logiciel-link">
                    <span></span>
                    <span>
                        <a class="link-proj" href=""
                            target="_blank"></a>
                    </span>
                </p>
            </div>
        </div>
    </div>
</div>


<div class="project-unit D">
    <div class="project-prez">
        <div class="project-title project-title-D">
            <p class="txt-title project-name">Module bluetooth</p>
            <div class="under-line"></div>
        </div>
        <div class="project-desc project-desc-D bluetooth">
            <p class="txt">Conception sur mesure d'un module bluetooth.</p>
            <div class="btn-more">
                <img src="/Asset/plus.png" alt="">
            </div>
        </div>
        <div class="project-detail bluetooth project-detail-D">
            <div class="features">
                <img class="pic-project-prez" src="/Asset/feature.png" alt="">
                <p class="txt">
                    <span>STMicroelectronics BLUENRG-232.</span>
                </p>
            </div>
            <div class="third-line">
                <div class="software">
                    <img class="pic-project-prez" src="/Asset/software.png" alt="">
                    <p class="txt">Circuit Maker / Altium Designer</p>
                </div>
                <div class="team">
                    <img class="pic-project-prez" src="/Asset/user.png" alt="">
                    <p class="txt">Individuel</p>
                </div>
            </div>
            <div class="link-zone bluetooth">
                <p class="logiciel-link">
                    <span></span>
                    <span>
                        <a class="link-proj" href=""
                            target="_blank"></a>
                    </span>
                </p>
            </div>
        </div>
    </div>
    <div class="pic-project">
        <a href="/Asset/project/bluletooth3D.png" target="_blank">
            <img src="/Asset/project/bluletooth3D.png" alt="">
        </a>
    </div>
</div>
