<div class="footer" id="4">
    <div>
        <p class="contacts">Contacts</p>
    </div>
    <div class="contact-logo">
        <a href="https://www.linkedin.com/in/manon-arcas-696750264/" class="logo-link">
            <div class="contact-unit">
                <img src="../Asset/contacts/linkedin.png" alt="">
                <p class="contact-txt txt-contact-style">Manon Arcas</p>
            </div>
        </a>
        <a href="https://github.com/Manon-Arc" class="logo-link">
            <div class="contact-unit">
                <img src="../Asset/contacts/git.png" alt="">
                <p class="contact-txt txt-contact-style">Manon-Arc</p>
            </div>
        </a>
        <a href="tel:0616285890" class="logo-link">
            <div class="contact-unit">
                <img src="../Asset/contacts/call.png" alt="">
                <p class="contact-txt txt-contact-style">06.16.28.58.90</p>
            </div>
        </a>
        <a href="mailto:arcasmanon47@gmail.com" class="logo-link">
            <div class="contact-unit">
                <img src="../Asset/contacts/arroba.png" alt="">
                <p class="contact-txt txt-contact-style">arcasmanon47@gmail.com</p>
            </div>
        </a>
    </div>
    <div class="droits">
        <p class="txt-droits">©Copyright, Tous droits reservés</p>
        <p class="txt-droits">
            <span>developpé par</span>
            <span class="name-footer">Manon Arcas</span>
            <span>avec ❤</span>
        </p>
    </div>
</div>
<img class="circuit-footer" src="../Asset/circuit.png" alt="">
</body>
</body>
<script src="../js/select_category.js"></script>
<script src="../js/header.js"></script>
<script src="../js/load_content.js"></script>
<script type="module" src="../js/js_hover/hover_proj.js"></script>
<script src="../js/js_hover/hover_prototype.js"></script>
<script src="../js/js_hover/hover_concepelec.js"></script>
<script src="../js/js_hover/hover_projdev.js"></script>
<script src="../js/js_hover/hover_concepmeca.js"></script>
</html>