

<div class="project-unit G">
    <div class="pic-project">
        <a href="../Asset/project/danmashi_start.png" target="_blank">
            <img src="../Asset/project/danmashi_start.png" alt="">
        </a>
    </div>
    <div class="project-prez">
        <div class="project-title">
            <p class="txt-title project-name">Danmashi</p>
            <div class="under-line"></div>
        </div>
        <div class="project-desc danmashi">
            <p class="txt">Dansmashi est un jeu de combat au tour par tour en ligne de commande.<br><br>
                L'utilisateur incarne un joueur appartenant à une classe de son choix<br>
                dont le but est de sortir victorieux d'un donjon de 10 étages remplis de
                monstres.<br><br>
            </p>
            <div class="btn-more">
                <img src="../Asset/plus.png" alt="">
            </div>
        </div>
        <div class="project-detail danmashi">
            <div class="first-line">
                <div class="language">
                    <img class="pic-project-prez" src="../Asset/coding_white.png" alt="">
                    <p class="txt">Python</p>
                </div>
            </div>
            <div class="features">
                <img class="pic-project-prez" src="../Asset/feature.png" alt="">
                <p class="txt">
                    <span>Choix du nom du personnage ("player" par défault),</span>
                    <span>Choix de la classe du personnage parmi : Mage, Assassin et Guerrier,</span>
                    <span>Musique de fond durant le jeu et ASCII art pour améliorer l'immertion du joueur,</span>
                    <span>Génération aléatoire des monstres parmi des listes de difficultés différentes,</span>
                    <span>Choix des actions à l'aide des touches directionnelles,</span>
                    <span>Possibilité de débloquer de nouvelles compétences et de récupérer des objets.</span>
                </p>
            </div>
            <div class="team">
                <img class="pic-project-prez" src="../Asset/user.png" alt="">
                <p class="txt">Individuel</p>
            </div>
            <div class="link-zone danmashi">
                <p class="logiciel-link">
                    <span>lien du projet : </span>
                    <span>
                        <a class="link-proj" href="https://github.com/Manon-Arc/Projet_python_Danmashi"
                            target="_blank">https://github.com/Manon-Arc/Projet_python_Danmashi</a>
                    </span>
                </p>
            </div>
        </div>
    </div>
</div>


<div class="project-unit D">
    <div class="project-prez">
        <div class="project-title project-title-D">
            <p class="txt-title project-name">WeatherApp</p>
            <div class="under-line"></div>
        </div>

        <div class="project-desc project-desc-D weatherapp">
            <p class="txt">Création d'une application météo.<br><br>
            </p>
            <div class="btn-more">
                <img src="../Asset/plus.png" alt="">
            </div>
        </div>
        <div class="project-detail project-detail-D weatherapp">
            <div class="first-line">
                <div class="language">
                    <img class="pic-project-prez" src="../Asset/coding_white.png" alt="">
                    <p class="txt">C#, Avalonia</p>
                </div>
            </div>
            <div class="features">
                <img class="pic-project-prez" src="../Asset/feature.png" alt="">
                <p class="txt">
                    <span>Utilisation de l'API OpenWeather,</span>
                    <span>Barre de recherche,</span>
                    <span>Possibilité d'enregistrer une ville par défaut,</span>
                    <span>42 langues disponibles,</span>
                </p>
            </div>
            <div class="team">
                <img class="pic-project-prez" src="../Asset/user.png" alt="">
                <p class="txt">Collaboratif</p>
            </div>
            <div class="link-zone weatherapp">
                <p class="logiciel-link">
                    <span>lien du projet : </span>
                    <span>
                        <a class="link-proj" href="https://github.com/Manon-Arc/WeatherApp"
                            target="_blank">https://github.com/Manon-Arc/WeatherApp</a>
                    </span>
                </p>
            </div>
        </div>
    </div>
    <div class="pic-project">
        <a href="../Asset/project/weatherapp_home.png" target="_blank">
            <img src="../Asset/project/weatherapp_home.png" alt="">
        </a>
    </div>
</div>
</div>
<script type="module" src="../js/js_hover/hover_projdev.js"></script>