<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" href="../style/style_realisation.css">
    <link rel="stylesheet" href="../style/style_gen.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
	<title>Portfolio</title>
	<link rel="shortcut icon" href="../Asset/PortFolio_Icone.png" type="image/x-icon">
</head>
<div class="project-unit G">
    <div class="pic-project">
        <img src="../Asset/project/robolympiades.png" alt="">
    </div>
    <div class="project-prez">
        <div class="project-title">
            <p class="txt-title project-name">Marcus</p>
            <div class="under-line"></div>
        </div>

        <div class="project-desc">
            <p class="txt">Création d'un  de robot pompier en 5 jours lors d'un Hackaton.</p>
            <div class="btn-more">
                <img src="../Asset/plus.png" alt="">
            </div>
        </div>


        <div class="project-detail">
            <div class="language">
                <img class="pic-project-prez" src="../Asset/coding_white.png" alt="">
                <p class="txt">Python / micropython</p>
            </div>
            <div class="features">
                <img class="pic-project-prez" src="../Asset/feature.png" alt="">
                <p class="txt">
                    <span>Contrtte connectée en ESP-Now (150m en conditions idéales),</span>
                    <span>Capacité de se déplacer dans huit directions différentes (roues mécanum),</span>
                    <span>Gyrophare signaler les interventions d'urgence,</span>
                    <span>Canon à eau offrant une liberté de mouvement de 45° en hauteur,</span>
                    <span>Emplacement de fixation pour l'ajout d'accessoires (phare, mégaphone).</span>
                </p>
            </div>
            <div class="third-line">
                <div class="software">
                    <img class="pic-project-prez" src="../Asset/software.png" alt="">
                    <p class="txt">Fusion360 / Kicad</p>
                </div>
                <div class="team">
                    <img class="pic-project-prez" src="../Asset/user.png" alt="">
                    <p class="txt">Collectif</p>
                </div>
            </div>
            <div class="link-zone">
                <p class="logiciel-link">
                    <span>lien du projet : </span>
                    <span>
                        <a class="link-proj" href="https://github.com/Manon-Arc/Marcus_Hackathon"
                            target="_blank">https://github.com/Manon-Arc/Marcus_Hackathon</a>
                    </span>
                </p>
            </div>
        </div>
    </div>
</div>